/* breadcrumb global */
.breadcrumb {
  padding: 3% 5%;
  height: 400px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 73, 126, 0.31)), to(rgba(30, 73, 126, 0.277))), url("../images/FB_IMG_1652144599887.jpg");
  background-image: linear-gradient(rgba(30, 73, 126, 0.31), rgba(30, 73, 126, 0.277)), url("../images/FB_IMG_1652144599887.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutusMain {
  padding: 40px 70px;
  /* history style */
}

.aboutusMain .block1 {
  margin-top: 40px;
}

.aboutusMain .block1 .paraCol .paraBox .titleTag {
  font-weight: 800;
  font-size: 45px;
  line-height: 50px;
  color: #1E497E;
  margin-bottom: 20px;
}

.aboutusMain .block1 .paraCol .paraBox .paraTag {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #000000;
}

.aboutusMain .block1 .imgCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutusMain .block1 .imgCol img {
  height: 100%;
  width: 100%;
}

.aboutusMain .block2 .imgCol img {
  height: 100%;
  width: 100%;
}

@media (max-width: 786px) {
  .aboutusMain {
    padding: 20px;
  }
  .aboutusMain .block1 .paraCol .paraBox .titleTag {
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    color: #1E497E;
    margin-bottom: 20px;
  }
  .aboutusMain .block1 .paraCol .paraBox .paraTag {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #000000;
  }
  .aboutusMain .block1 .imgCol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* our school */
.ourSchool .block1 {
  margin-top: 40px;
}

.ourSchool .block1 .imgCol {
  height: 450px;
  overflow: hidden;
  border-radius: 0px 50px;
}

.ourSchool .block1 .imgCol img {
  width: 100%;
  height: 100%;
  border-radius: 0px 50px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  overflow: hidden;
}

@media (max-width: 786px) {
  .ourSchool .block1 {
    margin-top: 40px;
  }
  .ourSchool .block1 .imgCol {
    height: 350px;
    overflow: hidden;
    border-radius: 0px 50px;
  }
  .ourSchool .block1 .imgCol img {
    width: 100%;
    height: 100%;
    border-radius: 0px 50px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    overflow: hidden;
  }
}

/* our EBooks */
.ourEBooks .gradeCalssCardWrapper {
  width: 100%;
}

.ourEBooks .gradeCalssCardWrapper .gradeCard {
  padding: 10px;
}

.ourEBooks .gradeCalssCardWrapper .gradeCard .gradeTag {
  cursor: pointer;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 800;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #1E497E;
  background: #EBF2FB;
}

.ourEBooks .gradeCalssCardWrapper .gradeCard .gradeTag:hover {
  background: #1E497E;
  color: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.ourEBooks .gradeCalssCardWrapper .gradeCard .gradeTag.active {
  background: #1E497E;
  color: white;
}
/*# sourceMappingURL=aboutus.css.map */